.App {
  text-align: center;
}
.todoItem {
  list-style-type: none;
}
.check + span {
  padding: 5px;
}
.check:checked + span {
  text-decoration: line-through;
}

.dell {
  color: rgb(238, 99, 99);
}
